@font-face {
  font-family: 'Philosopher';
  src: url('/assets/Philosopher-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Оптимизация загрузки */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Sylfaen', 'Times New Roman', Times, serif;
  font-size: 16px;
}

body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;

  font-family: 'Philosopher', serif;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

main {
  position: relative;

  margin: 0 auto;
  width: 500px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1080px;
  height: auto;
  min-height: 100vh;

  background: white;
}

.img-wrapper img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}


.img-wrapper.invited {
  position: relative;
}



.invited-message p {
  margin-bottom: 0.7rem;
}

.scroll-img {
  position: absolute;
  left: 10%;
  top: 4%;
  z-index: 4;

  width: 100px;
  height: 100px;
  opacity: 0;
  animation: ani 6s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 270px) and (max-width: 600px) {
  main {
    margin: 0 auto;
    width: 100vw;
  }
}

@media screen and (max-width: 1025px) and (max-height: 601px) {
  main {
    margin: 0 auto;
    width: 300px;
  }
}

.locker {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgb(13 13 13 / 62%);

  display: flex;

  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 220px;

  color: white;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  text-shadow: 2px 1px 20px #0000009e;
}

.locker .locker__container {

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.locker .locker__track {
  position: relative;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  max-width: 75vw;
}

.locker .locker__track_arrow {
  box-sizing: content-box;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: inline-flex;
  flex-shrink: 0;

  width: 46px;
  height: 46px;

  background-image: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="39" y="1" width="38" height="38" rx="19" transform="rotate(90 39 1)" stroke="white" stroke-width="2"/><path d="M15.3242 29.8438C15.1563 29.8438 14.9844 29.7773 14.8555 29.6484C14.5977 29.3906 14.5977 28.9688 14.8555 28.7109L23.6797 19.8867L14.9844 11.1914C14.7266 10.9336 14.7266 10.5117 14.9844 10.2539C15.2422 9.99609 15.6641 9.99609 15.9219 10.2539L25.0898 19.418C25.3477 19.6758 25.3477 20.0977 25.0898 20.3555L15.7969 29.6484C15.6641 29.7812 15.4961 29.8438 15.3242 29.8438Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
  transition: 0.6s ease-out;

  /* Анимация пульсации */
  animation:
          pulse 2s infinite ease-in-out;

  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Анимация пульсации */
@keyframes pulse {
  0%, 100% { transform: translateY(-50%) translateX(2px) scale(1); }
  50% { transform: translateY(-50%) translateX(0) scale(1.1); }
}

/* При клике анимация останавливается */
.locker__track_arrow.active {
  animation: none;
}

.locker .locker__track_round {
  box-sizing: content-box;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 56px;
  height: 56px;

  border-radius: 50%;
  border: 2px solid white;

}