@font-face {
  font-family: 'Philosopher';
  src: url('./assets/Philosopher-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Оптимизация загрузки */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Sylfaen', 'Times New Roman', Times, serif;
  font-size: 16px;
}

body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;

  font-family: 'Philosopher', serif;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

main {
  position: relative;

  margin: 0 auto;
  width: 500px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1080px;
  height: auto;
  min-height: 100vh;

  background: white;
}

.img-wrapper img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}


.img-wrapper.invited {
  position: relative;
}



.invited-message p {
  margin-bottom: 0.7rem;
}

.scroll-img {
  position: absolute;
  left: 10%;
  top: 4%;
  z-index: 4;

  width: 100px;
  height: 100px;
  opacity: 0;
  animation: ani 6s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 270px) and (max-width: 600px) {
  main {
    margin: 0 auto;
    width: 100vw;
  }
}

@media screen and (max-width: 1025px) and (max-height: 601px) {
  main {
    margin: 0 auto;
    width: 300px;
  }
}

.locker {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgb(13 13 13 / 62%);

  display: flex;

  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 220px;

  color: white;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 1px 20px #0000009e;
}

.locker .locker__container {

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.locker .locker__track {
  position: relative;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  max-width: 75vw;
}

.locker .locker__track_arrow {
  box-sizing: content-box;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: inline-flex;
  flex-shrink: 0;

  width: 46px;
  height: 46px;

  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve"><style type="text/css">.st0{fill:%23FFFFFF;}</style><path class="st0" d="M39,20L39,20c0,10.5-8.5,19-19,19l0,0C9.5,39,1,30.5,1,20l0,0C1,9.5,9.5,1,20,1l0,0C30.5,1,39,9.5,39,20z"/><path d="M16.6,28.7c-0.1,0-0.3-0.1-0.4-0.2c-0.2-0.2-0.2-0.6,0-0.8l7.4-7.8l-7.3-7.6c-0.2-0.2-0.2-0.6,0-0.8c0.2-0.2,0.6-0.2,0.8,0 l7.7,8.1c0.2,0.2,0.2,0.6,0,0.8L17,28.5C16.9,28.6,16.8,28.7,16.6,28.7z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
  transition: 0.6s ease-out;

  /* Анимация пульсации */
  animation:
          pulse 2s infinite ease-in-out;

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation; /* Улучшает обработку касаний */
  user-select: none; /* Предотвращает выделение при касании */
}

/* Анимация пульсации */
@keyframes pulse {
  0%, 100% { transform: translateY(-50%) translateX(2px) scale(1); }
  50% { transform: translateY(-50%) translateX(0) scale(1.1); }
}

/* При клике анимация останавливается */
.locker__track_arrow.active {
  animation: none;
}

.locker .locker__track_round {
  box-sizing: content-box;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 56px;
  height: 56px;

  border-radius: 50%;
  border: 2px solid white;

}

.locker .locker__track_dots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  overflow: hidden;
  max-width: calc(75vw - 120px);
  text-align: justify;
  white-space: nowrap;
}

.locker .locker__track_dots span {
  font-size: 26px;
}
.locker .locker__track_dots span:nth-of-type(1) {
  color: rgba(255, 255, 255, 0.60);

}

.locker .locker__track_dots span:nth-child(2) {
  color: rgba(255, 255, 255, 0.65);
}

.locker .locker__track_dots span:nth-child(3) {
  color: rgba(255, 255, 255, 0.70);
  font-size: 30px;

}

.locker .locker__track_dots span:nth-child(4) {
  color: rgba(255, 255, 255, 0.75);
  font-size: 32px;
}

.locker .locker__track_dots span:nth-child(5) {
  color: rgba(255, 255, 255, 0.80);
  font-size: 34px;
}